.text {
	width: 100vw;
	// font-weight: 600;
	max-width: 470px;
	font-size: 16px;
}

.content {
	padding: 20px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: 0.5s;

	@for $i from 1 through 4 {
		.field:nth-of-type(#{$i}) {
			animation-delay: #{$i * 0.1}s;
		}
	}

	.field {
		font-family: Antonio, sans-serif;
		opacity: 0;
		animation: fadeInField 1.5s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.9, 0, 0.05, 1);
		display: flex;

		.label {
			padding-top: 10px;
			width: 100px;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 14px;
			margin-bottom: 5px;
			margin-right: 15px;
		}

		input,
		textarea {
			pointer-events: all;
			font-size: 11px;
			font-family: 'Inter';
			margin-bottom: 10px;
			width: 100%;
			resize: none;
			border-radius: 3px;
			padding: 15px;
			border: 1px solid rgba(0, 0, 0, 0.15);
			transition: 0.3s;
			outline: 1px solid rgba(0, 0, 0, 0);

			&::placeholder {
				color: #ccc;
			}

			&:focus {
				outline: 1px solid rgba(0, 0, 0, 0.2);
			}
		}

		textarea {
			height: 140px;
		}
	}

	@keyframes fadeInField {
		0% {
			opacity: 0;
			margin-top: 140px;
		}
		100% {
			opacity: 1;
			margin-top: 0;
		}
	}

	.footer {
		opacity: 0;
		animation: fadeInField 1.5s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.9, 0, 0.05, 1);
		display: flex;
		margin-top: 20px;

		.error {
			margin-left: 100px;
			font-size: 11px;
			display: flex;
			align-items: center;
			flex: 1;

			img {
				margin-right: 8px;
			}
		}
	}

	&.fieldsOut {
		transition-delay: 0.6s;
		opacity: 0;
	}
}

.submitting {
	height: 135px;
	width: 300px;
}

.thankYou {
	letter-spacing: -0.2px;
	// color: #fff;
	margin-top: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	text-align: center;

	button {
		margin-top: 20px;
	}
}

button {
	pointer-events: all;
	cursor: pointer;
	border-radius: 3px;
	text-transform: uppercase;
	font-family: Antonio;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff;
	width: 100px;
	border: none;
	padding: 15px;
	background-color: #222;
	transition: 0.3s;

	&:hover {
		background-color: #555;
	}
}
