.container {
	position: relative;

	.text {
		overflow: hidden;
		transition: 1.5s cubic-bezier(0.9, 0, 0.05, 1);
		left: 0;
		position: absolute;
		opacity: 0;

		&.open {
			opacity: 1;
			bottom: 0;
		}
	}
}
